<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>员工列表</title>
		<div th:insert="~{login::bootstrap}"></div>
	</head>
	<body>
		<a class="btn btn-success" th:href="@{/saveEmployee}">添加员工</a>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th>
					ID
				</th>
				<th>
					姓名
				</th>
				<th>
					性别
				</th>
				<th>
					部门
				</th>
<!--				<th>-->
<!--					日期-->
<!--				</th>-->
				<th>
					操作
				</th>
			</tr>
			<tr th:each="emp : ${employeeList}">
				<td th:text="${emp.getId()}"></td>
				<td th:text="${emp.getName()}"></td>
				<td th:text="${(emp.getId()%100)==1?'男':'女'}"></td>
				<td th:text="${emp.getDepartment().getName()}"></td>
<!--				<td th:text="${#dates.format(6666,'yyyy')}"></td>-->
				<td>
					<a class="btn btn-success" th:href="@{${'/update/'}+${emp.getId()}}">编辑</a>
<!--					<a class="btn btn-success" th:href="@{/update/(id=${emp.getId()})}">编辑</a>-->
					
					<a class="btn btn-danger">删除</a>
				</td>
			</tr>
		</table>
	</body>
</html>