<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
	</head>
	<body>
		<br>
<!--		thymeleaf的插入fragment，这里写login或者login.html都可以-->
			<div th:insert="~{login :: logo}"></div>
		<br>
	hello,我是 <p th:text="${session.loginuser}"></p>
	<br>
		<a th:href="@{/employeeList}" th:text="employeeList"></a>
		
<!--	<h2 th:object="${user}">-->
<!--		<p>first-name: <span th:text="*{name.split(' ')[0]}"></span></p>-->
<!--		<p>second-name: <span th:text="*{name.split(' ')[1]}"></span></p>-->
<!--		<p>password: <span th:text="*{password}"></span></p>-->
<!--	</h2>-->
	</body>
</html>